build
dist
api/sandbox/PanoramaORB.py
gui/dist
gui/node_modules
gui/pnpm-lock.yaml
node_modules
pnpm-lock.yaml
pyapp/pyenv
pyapp/spec/*
!pyapp/spec/getSpec.py
.vscode/*
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*/__pycache__
*/__pycache__/*